<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXhV7nnG04NL1QlaaTltbQgIvU-XTPQFs</string>
	<key>GCM_SENDER_ID</key>
	<string>478872063009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.griyaRtApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>griya-rt-app</string>
	<key>STORAGE_BUCKET</key>
	<string>griya-rt-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478872063009:ios:8268107bc5f2092f236760</string>
</dict>
</plist>